.about-body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.about-container {
  width: 50%;
  margin: auto;
  min-height: 50vh;
}

.about-header {
  max-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  font-family: "Custom-bold";
  padding: 0.5em 0;
  border-top: 1px solid rgb(50, 48, 48);
  border-bottom: 1px solid rgb(50, 48, 48);
}

.profile-pic {
  display: flex;
  width: 80%;
  justify-content: center;
}

.profile-pic img {
  object-fit: cover;
  width: 15rem;
  height: 15rem;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

.profile-text {
  display: flex;
  position: absolute;
  height: 15rem;
  align-items: center;
  z-index: 0;
  opacity: 0;
}

.profile-text img {
  height: 2rem;
  width: 2rem;
}

.profile-pic img:hover {
  opacity: 0.5;
  transition: 0.25s ease-in-out;
}
.profile-pic img:hover + .profile-text {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.about-bio {
  width: calc(100% - 10vw);
  /* font-family: "Custom-thin"; */
  font-size: 2rem;
  text-align: justify;
}

.about-content {
  margin-top: 0.5em;
  width: 100%;
  font-size: 2rem;
  font-family: "Custom-regular";
  text-align: justify;
}

.fun-header {
  font-size: 2rem;
}
.fun-fact {
  margin: 1rem 0;
  font-size: 3rem;
}

.flags {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.fun-sub {
  display: block;
  margin: 0.5rem 0;
  font-size: 2.5rem;
}

.lang {
  display: inline-block;
  font-size: 2rem;
  border: 1px solid white;
  margin-right: 0.3rem;
  padding: 0.3rem;
  border-radius: 5px;
}
