body {
  margin: 0;
  padding: 0;
}

#home {
  color: white;
}

.home-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  font-size: 10vw;
  font-family: "Custom-thin";
}
