.loading-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.empty-div {
  position: absolute;
  background-color: white;
  font-size: 10vh;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.loadoing-div {
  font-size: 10vh;
}
