.section-logo {
  display: flex;
  width: 100%;
  justify-content: center;
}
.logo-container {
  display: grid;
  position: relative;
  width: 100%;
  top: 3rem;
  gap: 1rem;
}

.logo-container img {
  border: 2px solid white;
  border-radius: 50%;
}
.fixed-logo,
.fixed-logo-1 {
  margin: 0.5rem 0;
  display: flex;
  justify-content: right;
  width: 100%;
  height: 2rem;
}
.fixed-logo img,
.fixed-logo-1 img {
  background-color: black;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.fixed-logo-1 img:hover {
  transform: scale(1.2);
  transition: 0.125s ease;
}
