body {
  margin: 0;
  padding: 0;
}
.nav-container {
  width: 100%;
  background-color: black;
  color: white;
  border-bottom: 1px solid lightgray;
  z-index: 9999;
}

.nav-block {
  display: flex;
  min-height: 7.5vh;
  font-size: 1rem;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  border-top-left-radius: 5px;
}

.nav-block::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.nav-block * {
  display: flex;
  min-height: 7.5vh;
  min-width: fit-content;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

/* .nav-block * :hover {
  background-color: black;
  color: beige;
  transition: 0.5s linear;
} */

/* seems to be working on click and set to active link rather than hover */

.sub-img {
  margin-left: 1vw;
  margin-right: 0.25vw;
}

.sub-img img {
  width: fit-content;
  height: 1rem;
  aspect-ratio: 1/1;
}
