body {
  background-color: rgb(88, 85, 85);
  color: white;
  font-family: "Custom-regular";
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 100%;
}

@font-face {
  font-family: "Custom-bold";
  src: url("./Barlow_Semi_Condensed/BarlowSemiCondensed-Black.ttf")
    format("woff2"); /* Modern Browsers */
}

@font-face {
  font-family: "Custom-light";
  src: url("./Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf")
    format("woff2"); /* Modern Browsers */
}

@font-face {
  font-family: "Custom-thin";
  src: url("./Barlow_Semi_Condensed/BarlowSemiCondensed-Thin.ttf")
    format("woff2"); /* Modern Browsers */
}

@font-face {
  font-family: "Custom-regular";
  src: url("./Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf")
    format("woff2"); /* Modern Browsers */
}

.App {
  cursor: pointer;
}
.nav-bar {
  position: sticky;
  top: 0;
}

.app-body {
  background-color: black;
  margin: 0 2px;
}

.body-content {
  min-height: 50vh;
  margin-top: 2em;
}
